@import url('https://fonts.googleapis.com/css2?family=Gaegu:wght@400;700&display=swap');
@import "tailwindcss";
@plugin "@tailwindcss/typography";

@theme {
  --font-sans: var(--font-inter);
}

@layer base {
  html, body {
    overflow-x: hidden;
  }
  body {
    @apply bg-gray-50 text-gray-800 antialiased;
  }
}

@keyframes marquee {
  0% { transform: translateX(100%); }
  100% { transform: translateX(-100%); }
}
.animate-marquee {
  display: inline-block;
  white-space: nowrap;
  animation: marquee 25s linear infinite;
}

.font-cute {
  font-family: 'Gaegu', cursive;
}

.bg-grid-paper {
  background-color: #Fdfbf2;
  background-image: 
    linear-gradient(to right, rgba(0,0,0,0.05) 1px, transparent 1px),
    linear-gradient(to bottom, rgba(0,0,0,0.05) 1px, transparent 1px);
  background-size: 40px 40px;
}
